/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {color: white}
/*--------------------*/



@font-face {
  font-family: 'Helvetica';
  src: url();
}

body {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  background: black;
  overflow-x: hidden;
  padding: 40px;
}


/* Navbar */

.logo img{
  width: 76px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 1260px;
  margin: 0 auto 70px auto;
}

.menu {
  align-items: center;
  display: flex;
}

.menu li {
  cursor: pointer;
  margin-right: 53px;
  white-space: nowrap;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li:hover {
  border-bottom: 3px solid #FFFFFF;
}

.menu-active {
  border-bottom: 3px solid #FFFFFF;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu__btn img{
  width: 25px;
}


/* Navbar adaptive */


@media screen and (max-width: 1140px){

  .menu{
    display: none;
  }

  .burger-menu {
    display: block;
  }

}


/* Sidenav */

.sidenav{
  padding: 50px;
  position: fixed;
  background: #CB0A00;
  z-index: 2;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.close-sidenav {
  font-size: 40px;
  cursor: pointer;
}

.sidenav-item{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  transition: all .2s ;
}

.sidenav-item:hover{
  transform: scale(1.03);
  transition: all .2s ;
}

.sidenav-active {
  transition: all .5s ease-in-out;
  left: 0;
}

/* Slider */


/* News */
.news-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-container {
  margin: 0 auto;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news__header {
  cursor: pointer;
  text-transform: uppercase;
  left: 330px;
  font-weight: 550;
  font-size: 40px;
  margin-bottom: 60px;
  width: 1000px;  
}

.news__card {
  cursor: pointer;
  width: 615px;
  min-height: 345px;
  border-radius: 30px;
  overflow: hidden;
  word-break: break-word;
  display: flex;
  align-items: flex-end;
  padding: 45px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.news__card:hover {
  transform: scale(1.02);
  transition: all .2s ease-in-out;
}

.news-title {
  font-weight: 350;
  font-size: 30px;
  line-height: 34px;
}

.news-hashtag {
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 8px;
}

.news__other {
  margin: 40px 0 100px 0;
  text-transform: uppercase;
  width: 1000px;  
  display: flex;
  align-items: center;
}

.news__other p{
  display: inline-block;
  margin-right: 5px;
}
.news__other::after {
  content: "";
  display: inline-block;
  background: url('./media/icons/Vector.png') center/auto 100%  no-repeat;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

/* News adaptive */

@media screen and (max-width: 1140px) {
  .news__header {
    width: auto;  
  }

  .news__other {
    width: auto;
  }

  .news__card {
    width: auto;
    margin-right: 0;
  }
}

/* Occasions */

.events {
  max-width: 1000px;
  margin: 0 auto;
}

.events-title {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 40px;
  margin-bottom: 60px;
}

.events-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}

.events-card {
  width: 300px;
  margin-bottom: 40px;
}

.events-appointment {
  display: flex;
  justify-content: space-between;
  color: #9E9E9E;
  font-size: 13px;
}

.event-title {
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 10px;
}

.events-other {
  margin: 40px 0 100px 0;
  display: flex;
  margin-right: 5px;
  align-items: center;
  text-transform: uppercase;
}

.events-other::after {
  content: "";
  display: inline-block;
  background: url('./media/icons/Vector.png') center/auto 100%  no-repeat;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

/* Occasions adaptive */

@media screen and (max-width: 1140px) {

  .events {
    max-width: 300px;
    margin: 0 auto;
  }

  .events-cards {
    max-width: 300px;
  }
}

/* Footer */

.footer {
  align-items: flex-start;
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
}

.footer-list {
  display: inline-block;
  margin-right: 75px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
}

.logo-footer {
  width: 105px;
  height: 105px;
  padding-top: 50px;
  margin-right: 45px;
}

.footer-heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 15px;
}

.footer-item {
  margin-bottom: 10px;
  font-size: 12px;
}

.footer-contacts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.footer-contacts-item {
  margin-right: 40px;
  font-size: 15px;
}

.footer-copyright {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer-copyright p {
  color: #888888;
}

/* Footer Adaptive  */

@media screen and (max-width: 1025px) {
  .footer {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
}

/* Banner loop */

.loop-text{
  position: relative;
  left: -40px;
  width: 100vw;
  overflow: hidden;
}

.loop-text img{
  position: relative;
  margin-bottom: 120px;
  animation: loop-text infinite linear 10s;
}

@keyframes loop-text {
  0% {
    right: 1250px;
  }
  100% {
    right: 0px;
  }
}


/* Scroll menu */

.scroll-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto 120px auto
  
}

.scroll-menu-header {
  font-size: 90px;
  line-height: 90px;
  width: 800px;
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.scroll-menu-container {
  overflow: hidden;
}

.scroll-menu-options {
  position: relative;
  height: 500px;
  overflow-y: scroll;
  right: -17px;
}

.scroll-menu-item {
  margin-bottom: 120px;
  font-size: 40px;
  line-height: 40px;
}

/* Scroll menu Adaptive */

@media screen and (max-width: 1523px) {
  .arrow {
    display: none;
  }
  .scroll-menu-header{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  
  .scroll-menu-header{
    font-size: 35px;
    line-height: 35px;
  }

  .scroll-menu-item {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 20px;
  }
}


/* Useful */

.useful-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}


.useful-rectangle {
  width: 530px;
  height: 340px;
  background-color: #FFFFFF;
  border-radius: 40px;
  margin-bottom: 30px;
}

.useful-rectangle-heading p {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: 550;
  text-transform: uppercase;
}

.useful-heading {
  margin-bottom: 70px;
}
.useful-heading p {
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.useful-item {
  margin-bottom: 130px;
  display: flex;
  max-width: 100%;
}

.useful-item:last-child {
  justify-content: flex-end;
}

.useful-item:first-child {
  justify-content: flex-start;
}

.useful-item:last-child p {
  text-align: right;
}

.useful-block {
  display: flex;
  flex-direction: column;
}

.rectangle-text-container {
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;

  margin: 50px 50px auto;

  color: #000;
  display: flex;
  align-items: center;
}

.rectangle-text-container div {
  display: inline-block;
}

.rectangle-text-item {
  margin-right: 20px;
}

.useful-item:last-child .rectangle-text-container{
  justify-content: right;
}

/* Useful Adaptive */

@media screen and (max-width: 1025px) {
  .useful-rectangle {
    width: 300px;
  }

  .useful-main {
    align-items: center;
  }

  .useful-block {
    align-items: center;
  }
}



/* Projects */
.projects-content{
  display: flex;
  width: 100%;
  justify-content: center;
}

.projects-card{
  display: flex;
  margin-bottom: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-thumb {
  width: 715px;
  min-height: 445px;
  border-radius: 30px;
  margin: 0 100px 50px 0;
  flex-grow: 1;
}

.projects-text {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  
}

.projects-title {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 40px;
  margin-bottom: 50px;
}

.projects-description {
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  width: 430px;
  margin-bottom: 50px;
}

.projects-btn {
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.projects-card-reversed {
  flex-direction: row-reverse;
}

.projects-thumb-reversed {
  margin: 0 0 50px 100px;
}

/* Projects adaptive */

@media screen and (max-width: 1325px) {
  .projects-thumb, .projects-thumb-reversed {
    /* max-width: 300px; */
    width: 200px;
    margin: 0 0 50px 0;
  }

  .projects-description {
    width: 90vw;
  }

}

/* Login */

.Login {
  width: 100%;
  height: 100%;

  background: #000;

  margin-bottom: 150px;
  
  display: flex;
  justify-content: center;

  margin-bottom: 150px;
}

.login-block {
  background: url('../src/media/images/login-img.svg');

  width: 1250px;
  height: 600px;

  border-radius: 40px;

  display: flex;
  justify-content: right;
}

.auth-block {
  background: #000;

  width: 630px;
  height: 600px;
  border-radius: 40px;

  border: 1px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header p{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  cursor: pointer;
}

.auth-text {
  color: #fff;
}

.login-header {
  /* margin-top: 150px; */
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  color: #c4c4c4;
}

.auth-login {
  width: 405px;
  height: 43px;

  padding-left: 15px;

  background: #EDF0F7;
  border: 1px solid #898989;
  border-radius: 10px;
  margin-bottom: 50px;
  display: block;
}

.auth-password {
  width: 405px;
  height: 43px;
  margin-bottom: 10px;
  padding-left: 15px;

  background: #EDF0F7;
  border: 1px solid #898989;
  border-radius: 10px;
  display: block;
}

.reg-block-content {
  display: none;
}

.auth-block-content {
  display: none;
}

.auth-visible {
  display: block;
}

.auth-button {
  width: 405px;
  height: 43px;

  background: #CB0A00;
  border-radius: 10px;
}

.auth-button p {
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 18px;

  color: #FFFFFF;
}

.auth-login::placeholder,.auth-password::placeholder {
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 14px;
  color: #B4B4B4;
}

.password-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.password-input p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #fff;

  cursor: pointer;
}

.reg-header {
  /* margin-top: 150px; */
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

/* Login Adaptive */

@media screen and (max-width: 900px) {
  .auth-block{
    width: 100%;
    padding: 40px;
    /* max-width: 1000px; */
  }
  .auth-wrapper input {
    width: 100%;
  }

  .auth-wrapper {
    width: 100%;
  }

  .auth-button {
    width: 100%;
  }

  .login-header p {
    font-size: 20px;
  }

  .login-block {
    justify-content: center;
    background: #000;
  }
}


/* Dáhboard */

.big-title{
  font-size: 60px;
  max-width: 1260px;
  margin: 0 auto 70px auto;
  display: flex;
  justify-content: center;
}

.logout-button{
  display: flex;
  justify-content: center;
  width: 100%;
  
  margin-bottom: 50px;
  
}

.logout-button button {
  width: 150px;
  background: #CB0A00;
  border-radius: 50px;
  height: 100px;
  font-size: 20px;
  color: white;
}

/* Partners */
/* PartnersFirstText */

.partners-page {
  max-width: 1260px;
  margin: 0 auto;
}


.PartnersMainText p{
  line-height: 75px;
  text-align:left;
  margin-bottom: 30px;
  font-size: 60px;
  font-family: 'Helvetica';
  font-weight:normal;
}

.PartnersMainText span{
  display: block;
  font-weight: 100;
  text-align: left;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Helvetica';
  font-weight:lighter;
  max-width: 700px;
}

/* PartnersSecondText */

.PartnersText{
  margin-bottom: 55px;
  font-family: 'Helvetica';
  font-size:40px;
  line-height: 40px;
  font-weight: 550;
}

/* partnersCarousel */
.Discount{
  overflow: hidden;
  margin-bottom: 100px;
}
.Shadow-r{
  position: absolute;
  width: 90px;
  height: 900px;
  box-shadow: inset 50px 0px 100px black;
  z-index: 3;
}
.Shadow-l{
  right: 40px;
  position: absolute;
  width: 90px;
  height: 900px;
  box-shadow: inset -50px 0px 100px black;
  z-index: 3;

}
.PartnersDiscount{
  width: 100%;
  min-height: 400px;
  display: flex;
  position: relative;
  transition: all ease 1s;
  margin-bottom: 50px;
  overflow: hidden;
}
.DiscountImages-container{
  position: relative;
  display: flex;
  transition: all ease 1s;
  
  left: 0;
}

.DiscountImage {

}

.DicosountImage-container {
  max-width: 750px;
  max-height: 550px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 72px;
  overflow: hidden;
  border: 3px solid #A9A9A9;
}


/* Carousel adaptive */

@media screen and (max-width: 600px) {
  .DicosountImage-container {
    width: 400px;
    height: 350px;
  }
  
}

/* PartnersCard */
/*   */
.PartnerCard{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partners_card{
  display: inline;
  color: #000;
}
.partners_card img{
  vertical-align:middle;
  margin: 40px 0px 0px 0px;
  /* padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px; */
  width: 100px;
  transition:ease-in-out 0.7s;

}
.partners_card span{
  display: none;
}

.partners_card:hover img{
  width: 120px;
  transition:ease-in-out 0.7s;
}
.partners_card:hover span{
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  position:absolute;
  display:inline-block;
  background-color: white;
  margin-top: 30px;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  animation: partners_span1 0.7s ease alternate forwards;
}

/* анимация выплывающего текста */
@keyframes partners_span1{
  0%{
    width: 0%;
  }
  100%{
    width: 250px;
  }
}


/* ПАРТНЕРС РЕГИСТРЕЙШН */
/* PartnersRegDesign */

.PartnersLetterText{
  margin-top: 200px;
  font-family: 'Helvetica';
  font-size:35px;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.PartnersLetterText span{
  display: inline-block;
  line-height: 35px;
}

.PartnersLetter{
  width: 63%;
  position:relative;
  margin: 80px auto;
  padding: 25px;
  max-width: 700px;
  min-height: 350px;
  border: 2px solid white; 
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PartnersLetter1,.PartnersLetter2,.PartnersLetter3,.PartnersLetter4,.PartnersLetter5,.PartnersLetter6,.PartnersLetter7 {
  transform: translate(-50%, 0%);
  left: 50%;
  position: absolute;
}
.PartnersLetter1{
  width: 90%;
}
.PartnersLetter2{
  width: 88%;
}
.PartnersLetter3{
  width: 85%;
}
.PartnersLetter4{
  width: 81%;
}
.PartnersLetter5{
  width: 76%;
}
.PartnersLetter6{
  width: 70%;
}
.PartnersLetter7{
  width: 63%;
}

.partners-control {
  /* border: 1px solid red; */
  display : flex;
  justify-content: center;
}

.partners-btn-container {
  min-width: 300px;
  display : flex;
  justify-content: space-between;
}

.partners-btn-container img{
  height: 50px;
}

.partners-control button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* partners letter form */

.PartnersLetter form{
  padding-left: 30px;
  padding-right: 30px;
}
.PartnersLetter input{
  font-size:15px;
  /* padding: 5px; */
  margin: 15px 0px 20px 0;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
  background-color: #000;
}
.PartnersLetter label{
  font-size: small;
}

.partners-form {
  width: 100%;

}

.partners-form input{
  width: 100%;
}



/* Partners button */

.PartnersButton{
  height: 80px;
  width: 300px;
  position:relative;
  transform:translate(-50%, 0%);
  left: 50%;
  margin: 0px auto 80px auto;
  font-size: medium;
  background-color: #000;
  color: white;
  border: 2px solid white; 
  border-radius: 40px;
}
