/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {color: white}
/*--------------------*/



@font-face {
  font-family: 'Helvetica';
  src: url();
}

body {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  background: black;

  padding: 40px;
}


/* Navbar */

.logo img{
  width: 76px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 1260px;
  margin: 0 auto 70px auto;
}

.menu {
  align-items: center;
  display: flex;
}

.menu ul {
  cursor: pointer;
  margin-right: 53px;
  white-space: nowrap;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul:hover {
  border-bottom: 3px solid #FFFFFF;
}

.menu-active {
  border-bottom: 3px solid #FFFFFF;
}

.burger-menu {
  display: none;
}

.burger-menu__btn img{
  width: 25px;
}


/* Navbar adaptive */


@media screen and (max-width: 1140px){
  .menu{
    display: none;
  }

  .burger-menu {
    display: block;
  }

}

/* Slider */


/* News */
.news-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-container {
  margin: 0 auto;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news__header {
  text-transform: uppercase;
  left: 330px;
  font-weight: 550;
  font-size: 28px;
  margin-bottom: 60px;
  width: 1000px;  
}

.news__card {
  width: 615px;
  min-height: 345px;
  border-radius: 30px;
  overflow: hidden;
  word-break: break-word;
  display: flex;
  align-items: flex-end;
  padding: 45px;
  margin-right: 20px;
  margin-bottom: 20px;
}


.news-title {
  font-weight: 350;
  font-size: 30px;
  line-height: 34px;
}

.news-hashtag {
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 8px;
}

.news__other {
  margin: 40px 0 100px 0;
  text-transform: uppercase;
  width: 1000px;  
  display: flex;
  align-items: center;
}

.news__other p{
  display: inline-block;
  margin-right: 5px;
}
.news__other::after {
  content: "";
  display: inline-block;
  background: url('./media/icons/Vector.png') center/auto 100%  no-repeat;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

/* News adaptive */

@media screen and (max-width: 1140px) {
  .news__header {
    width: auto;  
  }

  .news__other {
    width: auto;
  }

  .news__card {
    width: 315px;
  }
}